
/* Start landing */
.landing {
  margin-top: var(--section-margin);
  margin-bottom: calc(var(--section-margin) / 2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1050px){
  .landing {
      flex-direction: column;
  }
}
.landing .info {
  width: 450px;
}
.landing .info h1 {
  margin: 0;
  font-size: 40px;
}
.landing .info p {
  font-size: 15px;
  margin-bottom: 30px;
}
.landing .info div {
  margin-right: 20px;
  padding: 10px 0;
  width: 70px;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(0 0 0 / 0.35);
}
.landing .info div i {
  margin-bottom: 10px;
}
.landing .info div p {
  margin: 0;
}
.landing .image {
  width: 50%;
}
.landing .image img {
  width: 100%;
}
@media (max-width: 1050px){
  .landing .info {
      width: 100%;
      padding-bottom: 30px;
  }
  .landing .image {
      width: 100%;
  }
}
@media (max-width: 500px){
  .landing .info h1 {
      font-size: 25px;
  }
  .landing .info p {
      font-size: 10px;
  }
}
/* End landing */